# Ignore the dataset directory
food-101/

# You can also add other common ignores here
# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class
*.pth

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE project files
.idea/
.vscode/

# Ignore data and model files
food-101.zip
archive(4).zip
outputs/
food-101_ZIP/